<h1>Editing book shelf</h1>

<%= render "form", book_shelf: @book_shelf %>

<br>

<div>
  <%= link_to "Show this book shelf", @book_shelf %> |
  <%= link_to "Back to book shelves", book_shelves_path %>
</div>
